body{
    background-color: snow;
    /* height: 100vh;
    width: 100%; */
}

.box1{
    display: inline;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
   
}
.box1 h1{
   color: rgb(29, 218, 218);
   
}
.box1 h3{
    
    color: rgb(196, 220, 74);
}
.box1 p{
    color: grey;
}
.part2{
    color: snow;
    display: flex;
    flex-direction: row;
}
.box2{
    background-color: rgb(56, 180, 180);
    width: 650px;
    height: 250px;
    padding: 40px;
}
.span{
    font-size:30px;
    
}
.box2 button{
    padding: 30px 160px 20px 160px;
    background-color: yellowgreen;
    color: snow;
    border: none;
    border-radius: 3px;
}
.box3{
    display: inline-block;
    padding: 40px 40px 40px 40px;
    background-color: rgb(46, 212, 212);
    width: 650px;
    height: 250px;
}
