*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "karla", sans-serif ;
    height: 100vh;
}
.part1{
    height: 40%;
    width: 100%;
    padding: 40px;
    background-color: snow;
}
.join{
    font-size: 20px;
    font-weight: bold;
    color: rgb(84, 209, 209);
}
.sub-heading{
    padding-top: 20px;
    font-size: 20px;
    color: yellowgreen;
}
.description{
   line-height: 28px;
    color: gray;
    padding: 20px 20px 2px 0;
}
.part2{ 
    height: 60%;
    display: flex;
    color: snow;
}
.box2{
    width: 50%;
    background-color: rgb(58, 159, 159);
    padding: 45px;
}
.l1{
   font-size: 18px;
   padding-bottom:20px ;
}
.l2 {
    font-size: 15px;
    color: rgb(205, 223, 225);
    padding-bottom: 5px;
}
.span{
    font-size:30px;
    color: whitesmoke;
    font-weight: bold;
    padding:10px;
}
.l3{
    padding:20px 0 25px 0;
}
.box2 button{
    padding: 20px 95px 20px 95px;
    background-color: yellowgreen;
    color:rgb(232, 227, 227);
    border: none;
    border-radius: 3px;
}
.box3{
    width: 50%;
    background-color: rgb(53, 169, 169);
}
.box3{
    padding: 45px;
}
.why-us{
    font-size: 18px;
    padding-bottom: 20px;
    /* font-weight: bold; */
}
.tutor{
    font-size: 15px;
    line-height: 25px;
    color: rgb(205, 223, 225);
}